#App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #272b33;
}
.containerDiv {
  width: 600px;
  padding: 2%;
  border-radius: 15px;

  height: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#inputW {
  padding: 2%;
  border: none;
  border-radius: 7px;
  width: 60%;
}
.formW {
  margin-top: 5%;
  padding: 3%;
  border-radius: 10px;
  margin-bottom: 5%;
}
#btn {
  padding: 2%;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}
#btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
#output {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* css for dynamic theme */
.hot {
  height: 700px;
  width: 600px;
  padding: 2%;
  border-radius: 15px;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cool {
  height: 700px;
  width: 600px;
  padding: 2%;
  border-radius: 15px;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.normal {
  height: 700px;
  width: 600px;
  padding: 2%;
  border-radius: 15px;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
